<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Centrality</title>
	</head>
	<body>
		<h2>Take a more intuitive approach to meaning.</h2>
		<!--img src="{{ static_url("bird.jpg") }}"-->
		<p>
			Enter a verb below and receive a poem that explores its meanings.  You might walk away feeling differently about what that verb means.
		</p>

		<form id="form">
			Type a verb, any verb!<input type="text" name="word" id="word">
			<input type="submit" form="form"  id="clicker" value="click for your poem!">
		</form>

		<p id="results"></div>
		<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
		<script>
			$(document).ready(function() {
				$('clicker').prop('disabled', false)
				$('form').submit(function(e) {
 					e.preventDefault();
 					$('clicker').prop('disabled', true)
 					//the rest of it
 					$('#results').html('loading...');
					var word = $('#word').val();
					if (word){
						$.get('/poem', {"word": word}, function(data) {
							$('#results').html(data);
							// $('#title').html(word);
						});	
					} else {
 						$('#results').html('please type in a verb, you negligent monster');
					}
				});
				// $('#clicker').click(function() {
					
				// });
			});
		</script>
	</body>
	<footer>
		<br>
		<p>
			<a href="http://www.aantiks.com/tag/centrality/">Learn more about the program.</a>
			<br>
			<a href="http://github.com/aankit/centrality">Get the code on Github.</a>
			<br>
			By Aankit Patel<br>
  			<a href="http://aankit.com">aankit.com</a>
  		</p>
  	</footer>
</html>
