<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Centrality</title>
	</head>
	<body>
		<h2>Take a more intuitive approach to meaning.</h2>
		<!--img src="{{ static_url("bird.jpg") }}"-->
		<p>
			Enter a verb below and receive a poem that explores its many usages or senses.  You might walk away feeling differently about what that verb means.
		</p>
		<p>
			Type a verb, any verb!<input type="text" name="word" id="word">
			<input type="button" id="clicker" value="click for your poem!">
		</p>
		<p id="results"></div>
		<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
		<script>
			$(document).ready(function() {
				$('#clicker').click(function() {
					$('#results').html('loading...');
					var word = $('#word').val();
					$.get('/poem', {"word": word}, function(data) {
						$('#results').html(data);
						// $('#title').html(word);
					});
				});
			});
		</script>
	</body>
</html>
